<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite" parallel="none" verbose="1">

    <test name="Login Tests">
        <classes>
            <class name="com.saucedemo.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Product Tests">
        <classes>
            <class name="com.saucedemo.tests.ProductTest"/>
        </classes>
    </test>

    <test name="Cart Tests">
        <classes>
            <class name="com.saucedemo.tests.CartTest"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="com.saucedemo.tests.CheckoutTest"/>
        </classes>
    </test>

</suite>
